@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
.buttom{
    @apply inline-block
    relative
    cursor-pointer
    transition-all
    duration-500
    before:content-['']
    before:absolute
    before:-bottom-2
    before:left-1/2
    before:-translate-x-1/2
    before:w-0
    before:h-0.5
    before:rounded-full
    before:opacity-0
    before:transition-all
    before:duration-500
    before:bg-gradient-to-r
    hover:before:w-full
    hover:before:opacity-100
}
}